{#
 # Builder - Page Header include template
 # --------------------------------------
 #
-#}

{% set bgImage = block.headerBgImage %}
{% set videoID = block.headerVideoId %}
{% set heroText = block.headerHeroText %}
{% set heroImage = block.headerHeroImage %}
{% set logo = block.headerLogo %}

<div class="sectioncontainer section-builder-page-header">
	<div class="video-container"></div>
	<div class="text-container">
		<div class="container">
			<div class="text-section">
				<div class="text-section__content">
					{{ heroText }}
				</div>
				<div class="text-section__button">
					{% if block.links.value | length %}
						<ul class="links section-links">
							{% for linkBlock in block.links %}
								<li>{{ siteMacros.links(linkBlock) }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
			<div class="img-section">
				<img src="{{ heroImage[0].url }}" alt="{{ heroImage[0].title }}">
			</div>
		</div>
	</div>
</div>