{#
 # Builder - Page Header include template
 # --------------------------------------
 #
-#}

{% set bgImage = block.headerBgImage %}
{% set videoID = block.headerVideoId %}
{% set heroText = block.headerHeroText %}
{% set heroImage = block.headerHeroImage %}
{% set logo = block.headerLogo %}

<div class="sectioncontainer section-builder-page-header">
	<div class="video-container">
		<div class="wistia_responsive_padding">
			<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
				<div class="wistia_embed wistia_async_{{ videoID }} videoFoam=true" style="height:100%;width:100%;">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="text-container">
		<div class="container">
			<div class="text-section fLeft">
				<div class="text-section__content">
					{{ heroText }}
				</div>
				{% if block.links.value | length %}
					<div class="text-section__button">
						<ul class="links section-links">
							{% for linkBlock in block.links %}
								<li>{{ siteMacros.links(linkBlock) }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
			<div class="img-section">
				<img src="{{ heroImage[0].url }}" alt="{{ heroImage[0].title }}">
			</div>
		</div>
	</div>
</div>